:root {
  --color-primary: hsl(145, 63%, 49%);
  --color-primary-light: hsl(145, 63%, 70%);
  --color-text-light: #fff;

  /* Widths */
  --max-width: 1320px;
  --inset-from-edge: 15px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
